.a{

  height:100px;
  border:1px black solid;
  box-sizing: border-box;
  width: 100%;
}
.container{
  width: 480px;
 display:flex;
 flex-wrap: wrap;
}
.e{
  flex:1;
}
/* .container2{
  width: 480px;
  display:flex;

} */